.sonm-login {
  background-color: @color-brand-bg;
  min-height: 680px;

  color: @color-white;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: filter 0.25s;

  &__spin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__center {
    margin: 50px auto;

    &--blurred {
      filter: blur(10px);
    }
  }

  &__wallet-form {
    display: flex;
    align-items: flex-start;
  }

  &__wallet-select {
    width: 280px;
    margin-right: 10px;
  }

  &__input {
    font-size: 16px;
    color: @color-white;
    font-weight: 400;
    line-height: 36px;
    height: 36px;
    box-sizing: padding-box;
    background-color: transparent;
    border: solid 0 @color-blue;
    border-bottom-width: 1px;
    width: 100%;
    transition: border-bottom-width;
    padding: 0;
    margin: 5px 0;

    &:focus {
      outline: none;
      border-bottom-width: 2px;
    }
  }

  &__label-error:not(:empty) + &__input {
    border-color: @color-pink;
    border-bottom-width: 2px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 330px;

    &-text {
      color: @color-light-font;
      font-size: 13px;
    }

    &-error {
      display: inline-block;
      width: 100%;
      color: @color-pink;
      order: 3;
      font-size: 12px;
      line-height: 20px;
      height: 20px;
    }
  }

  &__create {
    margin: 30px 0 0;
    width: 200px;
  }


  &__popup {
    &-header {
      color: @color-font;
      font-weight: 500;
      text-align: center;
      font-size: 18px;
      margin: 0 0 20px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    margin: 100px 0;
    height: 30vh;
    width: 100%;
    background: url('./logo.svg') no-repeat center;
  }

  &__add-wallet {
    margin: 20px 0;
    display: block;
    border: none;
    outline: none;
    background: transparent none;
    color: @color-blue;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;

    &:focus,
    &:active {
      outline: @outline;
      outline-offset: 3px;
    }
  }

  &__network-type {
    z-index: @z-everest + 1;
  }

  &__wallet-option {
    &--rinkeby {
      &:after {
        content: ' (test)';
        color: @color-pink;
      }
    }
  }
}

