@dropdownInputColor: rgba(0,0,0,.65);
@dropdownInputBorderColor: #d9d9d9;
@dropdownInputBorderHoverColor: #9ca0a6;
@dropdownInputBorderActiveBorder: 0 0 0 2px rgba(147,149,152,.2);

.dropdown-input {
    position: relative;
    display: inline-block;
    overflow: visible;
    position: relative;
    padding: 0;
    color: @dropdownInputColor;

    &__popup {
        margin: 4px 0 0;
        padding: 5px;
        background: @color-white;
        position: absolute;
        top: 100;
        left: 0;
        border: solid 1px @color-border;
        min-width: 100%;
    }

    &__button {
        width: 100%;
        margin: 0;
        padding: 0 11px;
        line-height: 30px;
        font-size: 14px;
        border: 1px solid @dropdownInputBorderColor;
        text-align: left;

        &:hover {
            border: 1px solid @dropdownInputBorderHoverColor;
            outline: none;
        }

        &:focus,
        &:active {
            border-color: #9ca0a6;
            outline: none;
            box-shadow: @dropdownInputBorderActiveBorder;
        }
    }
}
