@import 'guide.less';

.confirmation-panel {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
    }

    &__description {
    }

    &__form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__field {
    }

    &__input {
    }

    &__buttons {
        margin-top: auto;
    }

    &__cancel-button {
    }

    &__submit-button {
        float: right;
    }
}
