@import "guide.less";

@currency-balance-list-header-bg: @color-gray-bg;
@currency-balance-list-item-bg: @color-light-gray-bg;

.sonm-account-token-list {
  display: inline-block;
  min-width: 235px;
  font-weight: 500;

  &__list {
    list-style-type: none;
  }

  &__item {
    border: 0 solid @currency-balance-list-header-bg;
    border-width: 1px;
    text-align: left;
    padding: 10px 0 10px 36px;
    font-size: 20px;
    // text-transform: uppercase;
    display: grid;

    &__blockies {
      grid-column: 1;
      align-self: center;
    }

    &__name {
      width: 200;
      grid-column: 1;
      align-self: center;
    }

    &__balance {
      grid-column: 1;
      align-self: center;
      flex: 1;
    }

    &__button {
      width: 200;
      grid-column: 1;
      align-self: right;
    }
  }
}