@panel-gap: 25px;
@panel-gap-half: 25px / 2;

.sonm-deal {
    &__header {
        margin-bottom: 10px;
        font-size: 20px;
    }

    &__supplier {
        margin-bottom: 20px;
    }

    &__consumer {
        margin-bottom: 20px;
    }
}
