.sonm-hash {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    max-width: 100%;
    padding: 0;
    overflow: hidden;

    &__line {
        margin: 0;
        padding: 0;
        display: flex;
        white-space: nowrap;
        align-items: baseline;
    }

    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        color: inherit;
    }

    &__start {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: inherit;
        display: block;
        margin: 0;
        padding: 0;
        flex: 1 1 0;
    }

    &__end {
        font-size: inherit;
        margin: 0;
        padding: 0;
    }

    &__copy {
        outline: none;
        outline-offset: 0;
        display: inline-block;
        border: 0 solid transparent;
        margin: 1px 2px;
        padding: 0;
        cursor: pointer;
        color: inherit;
        background: transparent none;
        appearance: none;

        &:focus,
        &:active {
            outline: @outline;
        }
    }
}
