.sonm-hash {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  &__start {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
    display: block;
    margin: 0;
  }

  &__end {
    font-size: inherit;
    margin: 0;
    float: right;
  }


}