{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Edge > 15",
            "Firefox > 57",
            "Chrome > 60",
            "Safari > 10.1"
          ]
        },
        "exclude": [
          "transform-regenerator"
        ]
      },
      "minify"
    ]
  ]
}