@import 'guide.less';

.app-balance {
    height: 100%;
    padding: 5px 0;

    &__row {
        height: 50%;
        font-size: 12px;
        padding: 2px;
    }

    &__label {
        color: @color-font-gray;
        padding: 0;
        margin: 0 10px 0 0;
    }

    &__value {
        color: @color-white;
        padding: 0;
        margin: 0;
    }
}
