.sonm-ident-icon {

  &__wrapper {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  &__canvas {
    
  }

  &__icon-ether {
    background: url('./icon-ether.svg') center no-repeat;
    background-size: cover;
  }

  &__icon-sonm {
    background: url('./icon-sonm.svg') center no-repeat;
    background-size: cover;
  }
}