@calendarCellWidth: 100% / 7;
@calendarMonthInRow: 3;
@calendarMonthCellWidth: 100% / @calendarMonthInRow;
@calendarCellBorderColor: rgb(233, 233, 233);
@calendarCellSelectedColor: rgb(179, 177, 255);
@calendarActiveControlShadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.3);
@calendarDayBackground: transparent none;
@calendarCellRangeColor: lighten(@calendarCellBorderColor, 5%);
@calendarCellTargetColor: lighten(@calendarCellBorderColor, 1%);
@calendarFontFamily: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;

.calendar-hover-cell {
    background: none transparent;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        outline: none;
        box-shadow: none;
        background-color: @calendarCellSelectedColor !important;
    }
}

.calendar {
    font-family: @calendarFontFamily;
    font-size: 12px;
    padding: 0;
    border: 0;
    white-space: normal;

    &__table-of-days {
        padding: 0;
        align-content: start;
        margin: 5px 0;
    }

    &__day-name,
    &__day,
    &__dummy {
        margin: 0;
        display: inline-block;
        vertical-align: baseline;
        width: @calendarCellWidth;
        box-sizing: border-box;
        border: solid 0 @calendarCellBorderColor;
        padding: 3px 5px;
        text-align: center;
        background: none transparent;
    }

    &__dummy {
        border-bottom-width: 1px;

        &:after {
            content: ' ';
        }

        &:last-of-type {
            border-right-width: 1px;
        }
    }

    &__day-name {
        border-color: transparent;
        text-align: center;
    }

    &__day {
        .calendar-hover-cell;

        background: @calendarDayBackground;
        appearance: none;
        -webkit-appearance: none !important;
        border-right-width: 1px;
        border-bottom-width: 1px;
        outline: none;

        &--marked {
            background-color: @calendarCellRangeColor;
        }

        &--selected {
            background-color: @calendarCellSelectedColor;
        }

        &--target {
            background-color: @calendarCellTargetColor !important;
        }

        &:nth-child(7n + 1) {
            border-left-width: 1px;
        }

        &.week-0 {
            border-top-width: 1px;
        }
    }
}
