@import 'guide.less';

// Variables

@ordersListItem-label-fontColor: @color-light-font;
@ordersListItem-fontColor: @color-font-dark;
@ordersListItem-borderColor: @color-gray-bg;
@ordersListItem-border: 1px solid @ordersListItem-borderColor;
@order-list-item-row-height: 25px;

// Component

.sonm-deals-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    &__date-range {
        width: ~'calc(20% - 5px)';
        margin: 5px 5px 5px 0;
    }

    &__query {
        width: 400px;
        margin: 5px 30px 5px 5px;
    }

    &__active {
        width: 100px;
        margin: 5px 0;
    }
}

.sonm-deals-list {
    &__cell {
        &-account {
            display: grid;
            grid-template-columns: 80px 300px;
            grid-template-rows: 1fr;
            grid-row-gap: 10px;
            grid-column-gap: 10px;

            &__logo {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 1;
                grid-row: 1;
            }

            &__main {
                margin: auto 0;
                grid-row: 1;
                grid-column: 2;
                display: grid;
                grid-auto-flow: column dense;
                grid-template-columns: ~'[labels] 70px [values] 1fr';
                grid-auto-rows: @order-list-item-row-height;
                grid-row-gap: 5px;
                grid-column-gap: 10px;
            }

            &__main-label {
                color: @ordersListItem-label-fontColor;
                grid-column: labels;
            }

            &__main-value {
                grid-column: values;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-stats {
            margin: auto 0;
            grid-row: 1;
            grid-column: 2;
            display: grid;
            grid-auto-flow: column dense;
            grid-template-columns: ~'[labels] 150px [values] 1fr';
            grid-auto-rows: @order-list-item-row-height;
            grid-row-gap: 5px;
            grid-column-gap: 10px;

            &__label {
                color: @ordersListItem-label-fontColor;
                grid-column: labels;
            }

            &__value {
                grid-column: values;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-status {
            text-transform: uppercase;

            &--buy {
                color: @color-green;
            }

            &--sell {
                color: @color-dark-blue;
            }
        }

        &-price {
            &--duration {
                color: @color-green;
            }
        }
    }
}
