@import 'guide.less';

// Variables

@deal-list-item-label-fontColor: @color-light-font;
@deal-list-item-row-height: 25px;

// Component

.sonm-deals-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    &__date-range {
        width: ~'calc(20% - 5px)';
        margin: 5px 5px 5px 0;
    }

    &__query {
        width: 400px;
        margin: 5px 30px 5px 5px;
    }

    &__active {
        width: 100px;
        margin: 5px 0;
    }
}

.sonm-deals-list {
    &__cell {
        &__date {
            width: 200px;
        }

        &__stats {
            width: 270px;
        }

        &__status {
            width: 50px;
            text-transform: uppercase;
        }

        &__price {
            width: 150px;

            &--green {
                color: @color-green;
            }
        }
    }
}
