@import 'guide.less';

.sonm-alert-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: @z-everest;

  &__item {
    verflow: hidden;
    text-overflow: ellipsis;
  }

  &__ct {
    position: relative;
  }
}