@import 'guide.less';

.password {
    &__eye-button {
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
