@import 'guide.less';

// Variables

@ordersListItem-label-fontColor: @color-light-font;
@ordersListItem-fontColor: @color-font-dark;
@ordersListItem-borderColor: @color-gray-bg;
@ordersListItem-border: 1px solid @ordersListItem-borderColor;

// Component

.orders-list-item {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: ~'80px 300px [labels] 200px [values] 3fr [billing] 2fr [child] auto [end]';
    grid-auto-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    border-bottom: @ordersListItem-border;
    font-family: @ordersListItem-fontColor;
    color: @ordersListItem-fontColor;
    font-weight: 400;
    padding: 10px;

    &:first-child {
        border-top: @ordersListItem-border;
    }

    &__logo {
        grid-row: 1 / span 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Column1 - Main Info

    &__main {
        grid-row: 1 / span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__main-row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
    }

    &__main-label {
        padding: 0;
        margin: 0 10px 0 0;
        width: 60px;
        display: inline-block;
        color: @ordersListItem-label-fontColor;
    }

    &__main-value {
    }

    // Column2 - Indicators

    &__indicator-name {
        color: @ordersListItem-label-fontColor;
        grid-column: labels / values;
    }

    &__indicator-value {
        grid-column: values / billing;
    }

    // Column 3 - Cost

    &__cost {
        grid-column: billing / child;
    }

    &__child {
        grid-column: child / end;
        grid-row: 1 / span 3;
        display: flex;
    }
}
