@color-downy: #5ec6cb;
@color-light-blue: @color-downy;

@color-chathams-blue: #105578;
@color-dark-blue: @color-chathams-blue;

@color-burnt-siena: #ed5b5b;
@color-red: @color-burnt-siena;

@color-observatory: #00967c;
@color-green: @color-observatory;

@color-oslo-gray: #939598;
@color-dark-gray: @color-oslo-gray;

@color-athens-gray: #efeff0;
@color-light-gray: @color-athens-gray;

@color-warning: #fff3cf;
@color-orange: #f3c066;

@color-violet: #675fda;
@color-pink: #c82a72;
@color-blue: #32c3d0;
@color-white: #ffffff;
@color-selection: #f3f3f3;
@color-light-font: #95989a;
@color-border: #d8d8d8;
@color-brand-bg: #0b1c26;
@color-white-bg: #ffffff;
@color-gray-bg: #eeeeee;
@color-light-gray-bg: #f8f8f9;
@color-dark-gray-bg: @color-light-font;

@color-font-gray: #95989a;
@color-font-dark: #333333;
@color-gray-bg: #fafafa;

@shadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.3);

@sonm-input-height: 32px;

@outline: dotted 1px @color-dark-gray;

@big-select-height: 88px;

@z-everest: 8848;
@z-k2: 8614;
@z-kangchenjunga: 8586;
@z-lhotse: 8516;
@z-coast: 9;

@font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;

@opacity-disabled: 0.6;
