.sonm-balance {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  &__number {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
    display: block;
  }

  &__symbol {
    font-size: inherit;
    margin-left: 5px;
    float: right;
  }
}