.sonm-balance {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;

  &__number {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: inherit;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__symbol {
    font-size: inherit;
    margin: 0 0 0 5px;
    float: right;
    padding: 0;
  }
}