.kyc-list-item {
    display: grid;
    grid-template-areas:
        'icon  title   title   title'
        'icon  descr   status  price'
        'icon  bottom  .  .'
        'icon  line    line    line';

    grid-column-gap: 33px;

    padding: 30px;

    &:hover,
    &--selected {
        background-color: @color-gray-bg;
    }
    &--selected {
        cursor: default;
    }

    // Grid cells layout
    &__icon {
        grid-area: icon;
    }
    &__title {
        grid-area: title;
    }
    &__descr {
        grid-area: descr;
    }
    &__status {
        grid-area: status;
    }
    &__price {
        grid-area: price;
    }
    &__icon {
        grid-area: icon;
    }
    &__bottom {
        grid-area: bottom;
    }
    &__line {
        grid-area: line;
    }

    // Elements style
    &__title {
        color: @color-font-dark;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__descr {
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;

        text-align: justify;
    }

    &__status,
    &__price {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: @color-light-font;
        font-size: 13px;
        font-weight: 700;
    }

    &__bottom {
        margin: 58px 0 0 0;
    }

    &__line {
        border-top: 1px solid @color-border;
        margin: 29px 0 0 0;
    }
    &:hover &__line {
        border-top: 1px solid transparent;
    }
}
