@kyc-list-item__column-gap: 33px;
@kyc-list-item__padding: 30px;

.kyc-list-item {
    // Grid layout

    display: grid;
    grid-template-areas:
        'icon  title   status  price'
        'icon  descr   status  price'
        '.     bottom  .       .';

    grid-template-columns: 195px repeat(3, auto);

    // Block styles

    padding: 0 0 0 @kyc-list-item__padding;
    cursor: pointer;
    // hide border of previous element <begin
    margin: -1px 0 0 0;
    position: relative;
    // end>

    &:hover,
    &--selected {
        background-color: @color-gray-bg;
    }
    &--selected {
        cursor: default;
    }

    // Grid cells

    &__icon {
        grid-area: icon;
        margin: auto;
    }

    &__title {
        grid-area: title;
        margin: 0 0 0 @kyc-list-item__column-gap;
        padding: @kyc-list-item__padding 0 0 0;
        color: @color-font-dark;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__descr {
        grid-area: descr;
        margin: 0 0 0 @kyc-list-item__column-gap;
        padding: 0 0 @kyc-list-item__padding 0;
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
    }

    &__status {
        grid-area: status;
        padding: @kyc-list-item__padding 0 @kyc-list-item__padding
            @kyc-list-item__column-gap;
    }

    &__price {
        grid-area: price;
        padding: @kyc-list-item__padding @kyc-list-item__padding
            @kyc-list-item__padding @kyc-list-item__column-gap;
    }

    &__bottom {
        grid-area: bottom;
        height: auto;
        margin: 0 0 @kyc-list-item__padding @kyc-list-item__column-gap;
        color: @color-font-dark;
    }

    // Lines

    &__descr,
    &__status,
    &__price {
        border-bottom: 1px solid transparent;
    }

    &:not(:hover):not(&--selected):not(:only-child) &__descr,
    &:not(:hover):not(&--selected):not(:only-child) &__status,
    &:not(:hover):not(&--selected):not(:only-child) &__price {
        border-bottom: 1px solid @color-border;
    }

    // Rest elements

    &__status,
    &__price {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: @color-light-font;
        font-size: 13px;
        font-weight: 700;
    }
}

.kyc-insuficcient-funds {
    background-color: #f9e9f1;
    padding: 30px;

    &__header {
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 10px 0;
    }
    &__message {
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 20px 0;
    }

    &__button-deposit {
        float: right;
        margin: 0;
    }

    &__button-back {
        margin: 0 10px 0 0;
    }
}
