@import 'guide.less';

.insuficcient-funds {
    background-color: #f9e9f1;
    padding: 30px;

    &__header {
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 10px 0;
    }
    &__message {
        color: @color-font-dark;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 20px 0;
    }

    &__button-deposit {
        float: right;
        margin: 0;
    }

    &__button-back {
        float: right;
        margin: 0 10px 0 0;
    }
}
