@import 'guide.less';

@orderFilterPanel-columnWidth: minmax(140px, 200px);
@orderFilterPanel-columnGap: 10px;

// Mixins

.order-filter-panel__footer {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Component

.order-filter-panel {
    // grid
    display: grid;
    grid-template-columns: repeat(2, @orderFilterPanel-columnWidth);
    grid-column-gap: @orderFilterPanel-columnGap;
    height: 100%;

    // font
    font-family: @font-family;
    font-size: 15px;
    font-weight: 400;
    color: @color-font-dark;

    &__column1 {
        grid-column: 1 / span 1;
    }

    &__column2 {
        margin: auto 0;
        grid-column: 2 / span 1;
    }

    &__span2 {
        grid-column: 1 / span 2;
    }

    // Market orders / My orders Switch
    &__market-my-group {
        width: 100%;
    }
    &__market-my-item {
        width: 50%;
    }

    &__header {
        color: @color-font-gray;
        grid-column: 1 / span 2;
        &:not(:first-child) {
            margin: 20px 0 0 0;
        }
    }

    &__footer-column1 {
        .order-filter-panel__footer;
        grid-column: 1 / span 1;
    }

    &__footer-column2 {
        .order-filter-panel__footer;
        grid-column: 2 / span 1;
    }

    &__owner-status-checkbox {
        display: block;
        margin: 5px 0;
    }

    &__show-all-filters {
        color: @color-violet;

        &:hover {
            color: @color-violet;
            text-decoration: underline;
        }
    }

    &__type-radio-item:not(:last-child) {
        margin: 0 15px 0 0;
    }
}
