.sonm-download-file {
  display: inline-block;

  outline: none;
  outline-offset: 0;

  border: 0;
  padding: 0;
  background: transparent url(./download-icon.svg) center no-repeat;
  background-size: contain;
  min-width: 20px;
  cursor: pointer;
  text-decoration: none;
  color: transparent;

  vertical-align: top;

  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: @outline;
  }

  &:before {
    content: ' ';
  }
}