.sonm-button-group {

  &__item {
    border-color :@color-dark-gray-bg !important;

    &.ant-radio-button-wrapper-checked {
      color: @color-white;
      background-color: @color-dark-gray-bg;

      &:hover {
        color: @color-white;
      }
    }
  }
}