@import 'guide.less';

.sonm-profile-status {
    &__anon {
        color: @color-orange;
    }

    &__reg {
        color: @color-font-dark;
    }

    &__ident {
        color: @color-green;
    }

    &__full {
        color: @color-pink;
    }

    &__pro {
        color: @color-violet;
    }
}
