@import 'guide.less';

:root {
    --color-input-underline: @color-blue;
    --color-input-text: @color-font-dark;
}

.sonm-input {
    position: relative;
    margin: 5px 0;

    &__input {
        font-size: 16px;
        color: var(--color-input-text);
        font-weight: 400;
        line-height: 36px;
        height: 36px;
        box-sizing: padding-box;
        background-color: transparent;
        width: 100%;
        transition: border-bottom-width;
        padding: 0;
        margin: 0;
        border: 0;

        outline: none;
        &:focus {
            outline: none;
        }
    }

    &__underline {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--color-input-underline);

        &--readonly {
            display: none;
        }
    }

    &__input:focus + &__underline {
        height: 2px;
    }
}
