@import "guide.less";

@sonm-form-field-gap-width: 6px;
@sonm-form-field-gap-width-half: 6px / 2;
@sonm-form-field-font-size: 14px;

:root {
  --color-form-field-text: @color-font-gray;
  --input-color-mod2: @color-border;
}

.sonm-form-field {
  display: block;

  &--error {
    color: @color-pink;
    --input-color-mod: @color-pink;
    --input-color-mod2: @color-pink;
  }

  &--success {
    color: @color-green;
    --input-color-mod: @color-green;
    --input-color-mod2: @color-green;
  }

  &--warning {
    color: @color-orange;
    --input-color-mod: @color-orange;
    --input-color-mod2: @color-orange;
  }

  &--info {
    color: @color-blue;
    --input-color-mod:  @color-blue;
  }

  &--full-width {
    width: 100%;
    display: block;
  }

  &__help,
  &__label {
    line-height: 100%;
    height: @sonm-form-field-font-size;
  }

  & &__input > input {
    border-color: var(--input-color-mod2)
  }

  &__label {
    margin: 0 0 @sonm-form-field-gap-width 0;
    font-size: @sonm-form-field-font-size;
    color: var(--color-form-field-text);
  }

  &__help {
    margin: @sonm-form-field-gap-width-half 0 @sonm-form-field-gap-width-half 0;
    font-size: @sonm-form-field-font-size - 2px;
  }
}