@import 'sub/confirm/index.less';
@import './antd.less';

.sonm-deposit-withdraw {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 100px 1fr 80px;
    grid-column-gap: 50px;

    &__confirmation {
        background: linear-gradient(90deg, white 50%, @color-light-gray 50%);
    }

    &__header {
        grid-column: 1;
        grid-row: 1;
    }

    &__account {
        grid-column: 1;
        grid-row: 2;

        display: grid;
        grid-template-columns: 100px min-content auto;
        grid-template-rows: 1fr 1fr;
        font-weight: normal;

        &-blockies {
            margin: 10px;
            grid-column: 1;
            grid-row: 2 span;
            align-self: center;
        }

        &-name {
            font-weight: bold;
            padding-top: 20px;
            font-size: 20px;
            grid-column: 2;
            grid-row: 1;
        }

        &-addr {
            font-size: 14px;
            grid-column: 2;
            grid-row: 2;
        }
    }

    &__values {
        grid-column: 1;
        grid-row: 3;

        display: grid;
        grid-template-columns: 1fr 1fr 165px;
        grid-template-rows: 1fr 1fr;
        margin: 30px 0px 30px 0px;

        label,
        dt {
            color: @color-dark-gray;
            font-weight: bold;
            margin-bottom: 0px;
        }

        dd {
            font-size: 16px;
            margin-bottom: 0px;
        }

        &-amount {
            &-input {
                grid-column: 1 / span 2;
                grid-row: 1;
            }

            &-maximum {
                grid-column: 3;
                grid-row: 1;
                text-transform: uppercase;
                text-align: right;
                margin-top: 30px;
                color: @color-green;
                font-weight: bold;
                font-size: 18px;
            }
        }

        &-gas-limit {
            grid-column: 1;
            grid-row: 2;
        }

        &-gas-price {
            grid-column: 2;
            grid-row: 2;
            padding-right: 10px;
        }

        &-priority {
            grid-column: 3;
            grid-row: 2;
            text-align: right;
            margin-top: 25px;
        }
    }

    &__commission {
        grid-column: 1;
        grid-row: 4;

        &-grid {
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-template-rows: 1fr;
            border-top: 2px solid @color-green;
            padding-top: 20px;

            dt {
                color: @color-dark-gray;
                font-weight: bold;
                margin-bottom: 10px;
            }

            &-left {
                grid-column: 1;
                grid-row: 1;
            }

            &-right {
                grid-column: 2;
                grid-row: 1;
            }
        }
    }

    &__password {
        background-color: @color-light-gray;

        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        padding: 30px;

        &-header {
            flex-grow: 0;
            width: 100%;
            margin: 0;
        }

        &-info {
            flex-grow: 0;
            width: 100%;
            margin-top: 20px;
        }

        &-form {
            flex-grow: 1;
            width: 100%;
            margin-top: 50px;
        }
    }

    &__button-ct {
        padding-top: 20px;
        grid-column: 2;
        grid-row: 4;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
    }

    &__button {
        margin: 0 0 0 100px;
    }
}
